<div class="container">
    <div class="content-container">
      <div class="active-users-panel" id="active-user-container">
        <h3 class="panel-title">Active Users:</h3>
      </div>
      <div class="video-chat-container">
        <h2 class="talk-info" id="talking-with-info">
          Select active user on the left menu.
        </h2>
        <div height ="80px" class="video-container">
          <video height ="80px" autoplay class="remote-video" id="remote-video"></video>
          <video autoplay muted class="local-video" id="local-video"></video>
        </div>
        <div>
            <button class="btn btn-primary" (click)="shareScreen()">Share Screen</button>
            <button class="btn btn-primary" (click)="stopScreen()">Stop Share Screen</button>
            <!-- <button class="btn btn-primary" (click)="startRecording()">Start Recording</button> -->
            <button class="btn btn-primary" (click)="stopRecording()">Stop Recording</button>
            <video #recorderVideo width="20%" height="80%" controls></video>
        </div>
      </div>
    </div>
    <div class="mt-3"></div>
    <input type="text" class="form-control w-25 d-inline" [(ngModel)]="messageText">  
    <button type="button" class="btn btn-success mx-2" (click)="sendMessage()">Send</button>
    <button type="button" class="btn btn-default mx-2" (click)="leave()">Leave</button>

    <div class="jumbotron p-5">
        <div *ngFor="let item of messageArray">
        <span><strong>{{item.user}} : </strong> {{item.message}}</span>
        </div>
    </div>
  </div>